@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root.dark {
  background-color: #020617; /* slate-950 */
  color: white;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

/* Autocomplete Theme Fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

.dark input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
